{% extends "layout.html" %}

{% block content %}
	  <h1 class="page-header">Active DNS Hostnames</h1>
	  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>Hostname</th>
			  <th>IP Address</th>
			</tr>
		  </thead>
		  <tbody>
			{% for entry in hostnames %}
				<tr>
				  <td>{{ entry.hostname }}</td>
				  <td>{{ entry.ip }}</td>
				</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
