{% extends "layout.html" %}

{% block content %}
	  <h1 class="page-header">Key Value</h1>
	  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>Key</th>
			  <th>Value</th>
			</tr>
		  </thead>
		  <tbody>
			{% for entry in keyvals %}
				<tr>
				  <td>{{ keyvals.index(entry) + 1 }}</td>
				  <td>{{ entry.key }}</td>
				  <td>{{ entry.value }}</td>
				</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
