{% extends "layout.html" %}

{% block content %}
	  <h1 class="page-header">Reserved DHCP Hosts</h1>
	  <div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>#</th>
			  <th>MAC</th>
			  <th>IP Address</th>
			  <th>Hostname</th>
			  <th>Lease</th>
			</tr>
		  </thead>
		  <tbody>
			{% for entry in reserved %}
				<tr>
				  <td>{{ reserved.index(entry) + 1 }}</td>
				  <td>{{ entry.mac }}</td>
				  <td>{{ entry.ip }}</td>
				  <td>{{ entry.hostname }}</td>
				  <td>{{ entry.lease }}</td>
				</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
