	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
		  <ul class="nav nav-sidebar">
			<li {{ set_class_active(request, 'index') }}><a href="{{ url_for('index') }}">DHCP Clients</a></li>
			<li {{ set_class_active(request, 'reserved') }}><a href="{{ url_for('reserved') }}">Reserved Addresses</a></li>
			<li {{ set_class_active(request, 'hostnames') }}><a href="{{ url_for('hostnames') }}">DNS hostnames</a></li>
			<li {{ set_class_active(request, 'keyvals') }}><a href="{{ url_for('keyvals') }}">Key Value</a></li>
			<li {{ set_class_active(request, 'booleans') }}><a href="{{ url_for('booleans') }}">Booleans values</a></li>
			<li {{ set_class_active(request, 'unknowns') }}><a href="{{ url_for('unknowns') }}">Unknown values</a></li>
		  </ul>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
